@import url(../style/font.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}
/* body{
    overflow: hidden;
} */
.main-page {
  background-image: url(../assets/images/ship-background.png);
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 1;
}
.background {
  background-image: url(/assets/images/continers-background.jpg);
  width: 100%;
  height: 100hv;
  z-index: 1;
}
header {
  background-color: #0b1540;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  position: absolute;
  left: 10%;
}

.navbar nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.navbar nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: 0.4s linear;
  :hover {
    color: #0b1540;
    transform: translateY(-5px);
  }
}

.request-quote {
  padding-right: 153px;
  transition: 0.4s linear;
}
.request-quote a {
  padding: 20px 30px;
  background-color: #fff;
  color: #0b1540;
  text-decoration: none;
}
.request-quote:hover {
  transform: translateY(-5px);
}
.nimadir {
  display: flex;
  padding-right: 153px;
}
.contact-info {
  font-size: 14px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.hero {
  position: relative;
  color: #fff;
}

.hero-content {
  position: absolute;
  top: 30%;
  left: 153px;
  max-width: 500px;
}

.hero-content h5 {
  border-left: 3px solid #ffbe34;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.59px;
  text-align: left;
  background: #041c3780;
  width: 230px;
}

.hero-content h1 {
  font-family: Rubik;
  font-size: 50px;
  font-weight: 700;
  line-height: 71.1px;
  text-align: left;
}

.hero-content p {
  font-family: Krub;
  font-size: 16px;
  font-weight: 500;
  line-height: 24.24px;
  text-align: left;
  opacity: 0.8;
}

.explore-btn {
  display: inline-block;
  padding: 20px 40px;
  color: #0b1540;
  text-decoration: none;
  margin-top: 10px;
  background: linear-gradient(
    94.06deg,
    #ffb629 -1.21%,
    #ffda56 58.66%,
    #ffd7a6 116.84%
  );
  transition: 0.4s linear;
}

.explore-btn:hover {
  transform: translateY(-5px);
  background: linear-gradient(
    94.06deg,
    #ffb629 -1.21%,
    #ffda56 58.66%,
    #ffd7a6 116.84%
  );
  color: #0b1540;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.hero-image img {
  width: 100%;
  height: auto;
}

.header-h {
  display: flex;
  align-items: center;
  width: 230px;
  height: 60px;
}

.header-h img {
  width: 50px;
  height: 50px;
}

.header-h span {
  font-family: "Krub";
  font-size: 12px;
  font-weight: 500;
  line-height: 18.9px;
  text-align: left;
  padding: 10px;
}
menu {
  padding-left: 153px;
  height: 60px;
  display: flex;
  align-items: center;
  background: #09124240;
}

menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

menu ul li a {
  color: #fff;
  text-decoration: none;
  font-family: Krub;
  font-size: 14px;
  font-weight: 100;
  line-height: 21.6px;
  text-align: left;
  transition: color 0.3s ease;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}
menu ul li a:hover {
  color: gray;
  transform: translateY(-5px);
  border-bottom: 1px solid gray;
}
.social-links {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-left: 370px;
  padding-right: 60px;
  cursor: pointer;
}

.social-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}
.social-links img {
  width: 20px;
  height: 20px;
}

.services {
  display: flex;
  /* padding: 50px 20px; */
  background-color: #f9f9f9;
  padding-left: 153px;
  padding-right: 153px;
}
.services-header {
  padding-top: 80px;
}
.services-header h5 {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.59px;
  text-align: center;
  border-left: 3px solid #ffbe34;
  background: #e8e8e880;
  height: 28px;
  width: 90px;
  text-align: center;
}

.services-header h2 {
  padding-top: 15px;
  font-family: Rubik;
  font-size: 35px;
  font-weight: 600;
  line-height: 41.48px;
  text-align: left;
  padding-right: 30px;
}

.services-container {
  display: flex;
  padding-top: 80px;
  padding-bottom: 100px;
  flex-wrap: wrap;
  /* gap: 20px; */
  justify-content: space-between;
}

.service-item {
  /* background-color: #fff; */
  padding: 20px;
  border-radius: 8px;
  width: 370px;
  height: 130px;
  /* display: flex; */
  align-items: flex-start;
  gap: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.service-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.service-item img {
  display: flex;
  width: 40px;
  height: 40px;
}

.service-item h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
  margin-top: 0;
  font-weight: 500;
  line-height: 1.5;
  font-family: Rubik;
  text-align: left;
}

.service-item p {
  font-size: 14px;
  color: #666;
}

.why-title p {
  padding-top: 6px;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.59px;
  text-align: center;
  border-left: 3px solid #ffbe34;
  background: #e8e8e880;
  height: 28px;
  width: 90px;
}
.why-text h2 {
  font-family: Rubik;
  font-size: 30px;
  font-weight: 600;
  line-height: 41.48px;
  text-align: left;
}
.why-text p {
  font-family: Krub;
  font-size: 16px;
  font-weight: 500;
  line-height: 24.24px;
  text-align: left;
}
.why-use {
  background-color: #ffffff;
  top: 350px;
  position: relative;
  width: 1100px;
  height: 600px;
  left: 153px;
  right: 153px;
  /* overflow: hidden; */
}

.for-why-text {
  width: 450px;
  height: 400px;
  padding-left: 100px;
  padding-top: 70px;
}

.why-use-assets .image1 img {
  position: relative;
  width: 350px;
  height: 300px;
  left: 680px;
  bottom: 320px;
}

.why-use-assets .image2 img {
  position: relative;
  width: 310px;
  height: 200px;
  left: 465px;
  bottom: 400px;
  z-index: 2;
}

.why-use-assets .assets-cicle {
  position: absolute;
  width: 200px;
  height: 200px;
  background: white;
  bottom: 120px;
  left: 600px;
  z-index: 1;
}
.why-icons {
  padding-top: 30px;
}
.why-icons .why-cards {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 10px;
}
.why-cards p {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 400;
  line-height: 29.63px;
  text-align: left;
  color: #1c1f35;
  padding-left: 20px;
}

.clients-num {
  border-top: 1px solid gray;
  display: flex;
  text-align: center;
  width: 870px;
  margin-left: 90px;
  position: relative;
  bottom: 200px;
}

.delivered {
  display: flex;
  align-items: center;
  padding-left: 80px;
  width: 410px;
  height: 65px;
}

.delivered p {
  font-family: Rubik;
  font-size: 50px;
  font-weight: 600;
  line-height: 59.25px;
  text-align: left;
  padding: 10px;
}

.delivered div {
  padding: 10px;
  width: 15px;
  height: 15px;
  background: linear-gradient(
    94.06deg,
    #ffb629 -1.21%,
    #ffda56 58.66%,
    #ffd7a6 116.84%
  );
}
.delivered h4 {
  font-family: League Spartan;
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 18.4px;
  text-align: left;
}

.delivered h3 {
  position: relative;
  transform: rotateZ(90deg);
  left: 60px;
}

.container1 {
  position: absolute;
  top: 2650px;
  text-align: center;
  padding: 20px;
  background: linear-gradient(
    95deg,
    #ffb629 -1.19%,
    #ffda56 57.78%,
    #ffd7a6 115.08%
  );
  /* overflow: hidden;  */
}

h1 {
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 27px;
  flex-wrap: wrap;
  z-index: 1;
}

.card9 {
  /* border-radius: 5px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 240px;
  transition: transform 0.3s;
  /* background-blend-mode: multiply; */
  /* background-image: linear-gradient(0deg, #091242 14.34%, rgba(60, 60, 60, 0) 43.86%); */
}

.card9 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card9-content {
  padding: 10px;
}

.card9:hover {
  transform: translateY(-5px);
}

.more-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.more-btn:hover {
  background-color: #333;
  color: #fff;
  border: none;
  transition: background-color 0.3s;
  transform: translateY(-3px);
}

.wrap-container {
  position: relative;
  bottom: 200px;
}
